<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test MercadoLibre.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1914C501BF771F60086BD34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1914C641BF771F60086BD34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1914C6F1BF771F60086BD34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
